{% extends "core/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/home.css' %}">
<title>SalesHub</title>
{% endblock %}

{% block content %}

    <section class="button-section">
        <h2 class="button-section-title">Quick Access</h2>
        <div class="button-group">
            <a href="{% url 'create_product' %}" class="button">Create product</a>
            <a href="#link2" class="button">Update product</a>
            <a href="#link2" class="button">Delete product</a>
            <a href="#link2" class="button">Create category</a>
            <a href="#link2" class="button">Delete category</a>
            <a href="#link3" class="button">Excel Reports</a>
            <a href="#link4" class="button">Dashbords</a>
            <a href="#link6" class="button">Profile</a>
        </div>
    </section>
    
    <section class="info-section">

        <div class="info-part left">
            <ul class="product-list">
                {% for product in products %}
                    <li class="product-item">
                        <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                    </li>
                {% empty %}
                    <li>No products available.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="info-part center">
            <h3>Main Dashboard</h3>
        </div>

        <div class="info-part right">
            <h3>News</h3>
        </div>
    </section>

{% endblock %}
